:root{
	--primary-color: #302B63;
	--secondary-color: #BD0C47;

	--font-xl: 4rem;
	--font-700: 2rem;
	--font-600: 1.5rem;
	--font-500: 1rem;
	--font-400: 0.75rem;
}

@media (max-width: 400px) {
	:root{
		--font-xl: 3rem;
		--font-700: 1.5rem;
		--font-600: 1rem;
		--font-500: 0.66rem;
		--font-400: 0.49rem;
	}
}

*{
	font-family: sans-serif;
}

body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	color: var(--primary-color);
	font-size: var(--font-500);
}

.center-box{
	padding: 20px 40px;
	border: 2px solid var(--primary-color);
	max-width: 500px;
	margin: auto;
	border-radius: 20px;
	border: 2px solid var(--primary-color);
}

#logo{
	font-size: var(--font-600);
	font-weight: bold;
	color: var(--secondary-color);
}

.heading{
	font-size: var(--font-700);
}

label{
	font-size: var(--font-400);
}

input{
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	background-color: #FFF;
	border: 2px solid var(--primary-color);
	color: #000;
}

.label{
	font-size: var(--font-400);
}

.input-div{
	padding: 5px 0px;
}

button{
	padding: 10px;
	border: 2px solid var(--secondary-color);
	border-radius: 10px;
	cursor: pointer;
	color: var(--secondary-color);
	background: #fff;
	width: 100%;
	text-align: center;
}

a{
	font-weight: bold;
	cursor: pointer;
	color: var(--secondary-color);
}

.alternative-box{
	text-align: center;
}

.social-icon-collection{
	display: flex;
	padding: 5px 0px;
}

.social-icon{
	padding: 10px;
	margin: auto;
	display: inline-block;
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	background-color: #FFF;
	border-radius: 5px;
	cursor: pointer;
}